:root{
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --letter-space: 0.02em;
    --primary-color: #2E2F42;
    --secondary-color: #434455;
    --primary-bg-color: #2E2F42;
    --secondary-bg-color: #F4F4FD;
    --accent-color: #404BBF;
    --btn-bg-color: #4D5AE5;
    --white-color: #FFFFFF;
    --black-color:#000000;
    --footer-text-color: #E7E9FC;
    --valid-fields: #31D0AA;
    --section4-icons-color: #8E8F99;
    --modal-bg-color: #FCFCFC;
    --black-modal-close: rgba(0, 0, 0, 0.1);
    --modal-form-desc: #757575;

    --trans-descrp: 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: var(--primary-font);
    color: var(--primary-color);
    letter-spacing: var(--letter-space);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.list{
    list-style: none;
}

.link{
    text-decoration: none;
    color: var(--primary-color);
}

h1, h2, h3, h4, p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 428px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1158px;
    }
}

/* ----------------COMPONENTS-------------------- */
.icon-link {
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.icon-link-web{
    color: var(--btn-bg-color);
}

.secondary-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}

.section-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 8px;
}

.main-text {
    font-size: 16px;
    line-height: 1.5;
    color: var(--secondary-color);
}

.sections-list {
    display: flex;
    justify-content: center;
    column-gap: 24px;
    row-gap: 72px;
    flex-wrap: wrap;
}

.sections-padding {
    padding-top: 96px;
    padding-bottom: 96px;
}

@media screen and (min-width: 1200px) {
    .sections-padding {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}

.menu-link-selected{
    position: relative;
    color: var(--accent-color);
}

.menu-link-selected::after {
    content: '';
    position: absolute;
    bottom: 0;   
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    
    background-color: var(--accent-color);
    
}
/* ----------------/COMPONENTS-------------------- */


/* -----------------HEADER-------------------- */
.header {
    width: 100%;
    border-bottom: 1px solid var(--footer-text-color);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-paddings {
    padding-top: 24px;
    padding-bottom: 24px;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-item{
    display: none;
}

@media screen and (max-width: 767px) {
    .header-menu-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;

        background-color: transparent;
        border: none;
        padding: 0;
        margin-left: auto;
        margin-right: 15px;
    }
    
    .header-menu-hamburger {
        fill: var(--primary-color);
    }
}

@media screen and (min-width: 768px) {
    .header-menu-btn {
        display: none;
    }
    .header-item {
        display: block;
    }

    .icon-header {
        margin-right: 123px;
    }

    .header-menu-btn {
        display: none;
    }
    .header-nav {
        margin-right: 118px;
    }
    .header-item {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
    }
    
    .header-item:not(:last-child) {
        margin-right: 40px;
    }
    
    .menu-link,
    .contact-link {
        transition: color var(--trans-descrp);
    }
    
    .menu-link:hover,
    .menu-link:focus,
    .contact-link:hover,
    .contact-link:focus {
        color: var(--accent-color);
    }
    
    .header-address-links {
        display: block;
    }
    .header-address {
        font-style: normal;
        margin-left: auto;
    }
    
    .contact-link {
        font-weight: 400;
        color: var(--secondary-color);
    }
}

@media screen and (min-width: 1200px) {
    .icon-header {
        margin-right: 76px;
    }

    .header-address-links {
        display: flex;
        align-items: center;
        gap: 40px;
    }
}
/* -----------------/HEADER-------------------- */


/* -----------------INDEX HERO SECTION-------------------- */
.hero-section {
    background-color: var(--primary-bg-color);
    padding-top: 112px;
    padding-bottom: 112px;
    max-width: 767px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../image/hero/hero_mobile@1x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../image/hero/hero_mobile@2x.jpg);
    }
}

/* Device up to 768px */
@media screen and (min-width: 768px) {
    .hero-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../image/hero/hero_tabl@1x.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero-section {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../image/hero/hero_tabl@2x.jpg);
        }
    }
}

/* Device form 769px to 1600px */
@media screen and (min-width: 1200px) {
    .hero-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../image/hero/hero_desk@1x.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero-section {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../image/hero/hero_desk@2x.jpg);
        }
    }
}

.hero-header {
    max-width: 320px;
    font-size: 36px;
    line-height: 1.11;
    color: var(--white-color);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
    text-align: center;
}

.hero-btn {
    display: block;
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    margin-left: auto;
    margin-right: auto;
    color: var(--white-color);
    border-color: transparent;
    background: var(--btn-bg-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    transition: background-color var(--trans-descrp);
}

.hero-btn:hover,
.hero-btn:focus{
    background-color: var(--accent-color);
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .hero-section {
        padding-bottom: 108px;
        max-width: 1119px;
    }

    .hero-header {
        max-width: 496px;
        font-size: 56px;
        line-height: 1.07;
        margin-bottom: 40px;
    }
}

@media screen and (min-width: 1200px) {
    .hero-section {
        padding-top: 188px;
        padding-bottom: 188px;
        min-width: 1440px;
    }
    
    .hero-header {
        margin-bottom: 48px;
    }
}
/* -----------------/INDEX HERO SECTION-------------------- */


/* -----------------INDEX SECTION 1-------------------- */
.section1-item {
    flex-basis: 100%;
}

.section1-icon-div {
    display: none;
}

.section1-h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    text-align: center;
}

.section1-text {
    font-weight: 500;
}

@media screen and (min-width: 768px) {
    .section1-item {
        flex-basis: calc((100% - 24px) / 2);
    }

    .section1-h2 {
        text-align: start;
    }
}

@media screen and (min-width: 1200px) {
    .section1-item {
        flex-basis: calc((100% - 72px) / 4);
    }

    .section1-h2 {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }

    .section1-text {
        font-weight: 400;
    }

    .section1-icon-div {
        display: block;
        width: 264px;
        height: 112px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--secondary-bg-color);
        margin-bottom: 8px;
    }
}
/* -----------------/INDEX SECTION 1-------------------- */


/* -----------------INDEX SECTION 2-------------------- */
.section2 {
    display: none;
}

@media screen and (min-width: 1200px) {
   .section2 {
        display: block;
        padding-top: 0px;
    }

    .section2-item {
        flex-basis: calc((100% - 48px) / 3);
    }
}


/* -----------------/INDEX SECTION 2-------------------- */


/* -----------------INDEX SECTION 3-------------------- */
.section3 {
    padding-bottom: 128px;
    background: var(--secondary-bg-color);
}

.section3-item {
    background: var(--white-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.text-about-team {
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
}

.section3-text-margin {
    margin-bottom: 8px;
}

.socials-links-list {
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.socials-links{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;

    background-color: var(--btn-bg-color);
    border-radius: 50%;

    transition: background-color var(--trans-descrp);
}

.socials-links:hover,
.socials-links:focus {
    background-color: var(--accent-color);
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .section3 {
        padding-bottom: 104px;
    }

    .section3-list {
        row-gap: 64px;
    }
}

@media screen and (min-width: 1200px) {
    .section3 {
        padding-bottom: 120px;
    }

    .section3-item {
        width: calc((100% - 72px) / 4);
    }
}
/*  */
/* -----------------/INDEX SECTION 3-------------------- */

/* -----------------INDEX SECTION 4-------------------- */
.section4-item {
    flex-basis: calc((100% - 16px) / 2);
}

@media screen and (max-width: 767px) {
    .section4-list {
        column-gap: 16px;
    }
}
.section4-icons-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 39px;
    padding-right: 39px;
    border: 1px solid var(--section4-icons-color);
    border-radius: 4px;

    transition: border-color var(--trans-descrp);
}

.section4-icons {
    fill: var(--section4-icons-color);

    transition: fill var(--trans-descrp);
}

.section4-icons-link:hover,
.section4-icons-link:focus {
    border-color: var(--accent-color);
}

.section4-icons-link:hover
.section4-icons {
    fill: var(--accent-color);
}

.section4-icons-link:focus 
.section4-icons {
    fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
    .section4-container {
        padding-left: 108px;
        padding-right: 108px;
    }
    
    .section4-item {
        flex-basis: calc((100% - 48px) / 3);
    }

    .section4-icons-link {
        padding-left: 31px;
        padding-right: 31px;
    }
}

@media screen and (min-width: 1200px) {
    .section4-container {
        padding-left: 0;
        padding-right: 0;
    }
    
    .section4 {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .section4-item {
        flex-basis: calc((100% - 120px) / 6);
    }
}

/* -----------------/INDEX SECTION 4-------------------- */

/* -----------------PORTFOLIO MAIN SECTION-------------------- */
.section {
    padding-top: 48px;
    padding-bottom: 48px;
}

.btn-list {
    margin-bottom: 48px;
}



@media screen and (max-width: 767px) {
    .btn-list {
        display: flex;
        justify-content: flex-start;
        row-gap: 16px;
    }
}



.btn-button {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--btn-bg-color);
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;

    background: var(--secondary-bg-color);
    border: 1px solid var(--footer-text-color);
    border-radius: 4px;

    transition: color var(--trans-descrp), background-color var(--trans-descrp), box-shadow var(--trans-descrp);
}

.btn-button:hover,
.btn-button:focus {
    color: var(--white-color);
    background-color: var(--accent-color);
    cursor: pointer;
    box-shadow: 
    0px 3px 1px rgba(0, 0, 0, 0.1), 
    0px 2px 1px rgba(0, 0, 0, 0.08), 
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* .cards-item {
    flex-basis: calc((100% - 48px) / 3);
} */

.cards-list {
    row-gap: 48px;
}
.cards-link {
    display: block;
    transition: box-shadow var(--trans-descrp);
}

.cards-link:hover,
.cards-link:focus {
    box-shadow: 
    0px 1px 6px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 2px 1px rgba(46, 47, 66, 0.08);
    cursor: pointer;
}

.cards-link:hover .text-appear,
.cards-link:focus .text-appear {
    transform: translate(0, 0);
}

.cards-img {
    position: static;
}
.cards-appear {
    position: relative;
    overflow: hidden;
}

.text-appear {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    
    color: var(--secondary-bg-color);
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 40px;
    background-color: var(--btn-bg-color);

    transform: translate(0%, 100%);
    transition: transform var(--trans-descrp);
    transition-delay: 150ms;
}

.text-under-img {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    border: 1px solid var(--footer-text-color);
    border-top-color: transparent;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

@media screen and (min-width: 768px) {
    .section {
        padding-top: 64px;
        padding-bottom: 96px;
    }

    .btn-item:first-child {
        margin-left: auto;
    }

    .btn-item:last-child {
        margin-right: auto;
    }
    .cards-item {
        flex-basis: calc((100% - 24px) / 2);
    }
    .cards-list {
        row-gap: 72px;
    }

    .cards-list:last-child {
        justify-content: flex-start;
    }

    .btn-list {
        margin-bottom: 64px;
    }
}

@media screen and (min-width: 1200px) {
    .section {
        padding-top: 96px;
        padding-bottom: 120px;
    }

    .cards-item {
        flex-basis: calc((100% - 48px) / 3);
    }
    .btn-list {
    margin-bottom: 72px;
    }
}
/* -----------------/PORTFOLIO MAIN SECTION-------------------- */


/* -----------------FOOTER-------------------- */
.footer {
    background-color: var(--primary-bg-color);
}

.footer-container {
    display: block;
    align-items: center;
    text-align: center;
}

.footer-section {
    margin-bottom: 72px;
}

.icon-link-footer {
    color: var(--secondary-bg-color);
    line-height: 1.17;
}

.footer-text {
    text-align: start;
    margin-top: 16px;
    color: var(--footer-text-color);
    width: 268px;
}

.footer-header {
    font-size: 16px;
    margin-bottom: 16px;
    color: var(--white-color);
}
.socials-links-footer {
    background-color: rgba(255, 255, 255, 0.1);

    transition: background-color var(--trans-descrp);
}

.socials-links-footer:hover,
.socials-links-footer:focus {
    background-color: var(--valid-fields);
}

.socials-links-list {
    gap: 16px;
}
.footer-input {
    width: 100%;
    height: 40px;
    padding-left: 16px;
    background-color: var(--primary-bg-color);
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    color: var(--white-color);
    font-size: 12px;
    transition: border-color var(--trans-descrp);
}

.footer-input:focus {
    border-color: var(--btn-bg-color);
}

.footer-input::placeholder {
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-subs-icon:hover+.footer-btn,
.footer-subs-icon:focus+.footer-btn {
    background-color: var(--accent-color);
    cursor: pointer;
}

.footer-btn {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 16px;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 24px;
    padding-right: 24px;
}

.footer-left-side {
    display: inline-block;
}

.footer-right-side {
    padding-left: 16px;
    padding-right: 16px;
}

@media screen and (min-width: 768px) {
    .footer-container {
        padding-left: 108px;
    }

    .footer-tablet-cont {
        display: flex;
        align-items: flex-start;
        text-align: start;
    }

    .footer-section {
        margin-right: 24px;
    }

    .footer-header {
        text-align: start;
    }

    .footer-input {
        width: 264px;
    }

    .footer-btn {
        margin: 0;
    }

     .footer-right-side {
        padding: 0;
    }
    
    .footer-subscribe {
        position: relative;
        display: flex;
        gap: 24px;
        align-items: center;
    }
}

@media screen and (min-width: 1200px) {
    .footer {
        padding-top: 100px;
        padding-bottom: 100px;
    }

     .footer-container {
        padding-left: 0;
        display: flex;
        align-items: flex-start;
    }

    .footer-text {
        width: 264px;
    }

    .footer-left-side {
        margin-right: 120px;
    }
    
    .footer-middle-side {
        margin-right: 80px;
    }
    
    .footer-right-side {
        margin-left: 0;
    }

    .footer-section {
        margin-bottom: 0;
    }
}

/* -----------------/FOOTER-------------------- */

/* -----------------MODAL WINDOW-------------------- */
.backdrop {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;

    /* right: 0;
  bottom: 0; */

    width: 100%;
    height: 100%;

    background: rgba(46, 47, 66, 0.4);

    transition: opacity var(--trans-descrp), visibility var(--trans-descrp);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition-delay: 250ms;
}

.modal {
    position: absolute;
    top: calc(50%);
    left: calc(50%);
    transform: translate(-50%, -50%);

    max-width: 392px;
    width: 95%;
    min-height: 576px;
    padding-top: 72px;
    padding-right: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    background: var(--modal-bg-color);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transition: transform var(--trans-descrp), opacity var(--trans-descrp);
    transition-delay: 400ms;
}

@media screen and (min-width: 768px) {
    .modal {
        width: 408px;
    }
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -70%);
    opacity: 0;
    transition-delay: 0s;
}

.modal-btn {
    position: absolute;
    top: 24px;
    right: 24px;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    padding: 0;
    border: 1px solid var(--black-modal-close);
    border-radius: 50%;
    background-color: var(--footer-text-color);
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: var(--accent-color);
    cursor: pointer;
}

.modal-icon {
    fill: var(--black-color);
}

.modal-btn:hover .modal-icon,
.modal-btn:focus .modal-icon {
    fill: var(--white-color);
}

.modal-title {
    display: block;
    margin-bottom: 14px;
    text-align: center;
    color: var(--primary-color);
}

/* -----------------MODAL FORM-------------------- */

.modal-form-label {
    display: block;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
    color: var(--section4-icons-color);
}

.modal-form-group {
    position: relative;
    margin-bottom: 8px;
}

.modal-form-field {
    display: block;
    width: 100%;
    height: 40px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transition: border-color var(--trans-descrp)
}

.modal-form-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    fill: var(--primary-color);
    transition: fill var(--trans-descrp);
}

.modal-form-field:focus+.modal-form-icon {
    fill: var(--btn-bg-color);
}

.modal-form-comment {
    display: block;
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    margin-bottom: 16px;

    font-size: 15px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color var(--trans-descrp);
    resize: none;
}

.modal-form-field:focus,
.modal-form-comment:focus {
    outline: none;
    border-color: var(--btn-bg-color);
}

.modal-form-comment::placeholder {
    color: rgba(117, 117, 117, 0.5);
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
}

.modal-form-agreement {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-bottom: 24px;
}

.custom-checkbox-frame {
    fill: transparent;
    stroke: var(--primary-color);
    transition: opacity var(--trans-descrp);
}

.modal-form-checkbox:checked+.custom-checkbox>.custom-checkbox-frame {
    opacity: 0;
}

.custom-checkbox-check {
    opacity: 0;
    transition: opacity var(--trans-descrp);
}

.modal-form-checkbox:checked+.custom-checkbox>.custom-checkbox-check {
    opacity: 1;
}

.modal-form-desc {
    color: var(--modal-form-desc);
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    user-select: none;
}

.modal-form-link {
    color: var(--btn-bg-color);
}

.modal-form-btn {
    width:169px;
}

/* -----------------/MODAL WINDOW-------------------- */

/* -----------------MOBILE MODAL WINDOW-------------------- */
@media (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}

.menu-container {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding-top: 80px;
    padding-left: 40px;
    background-color: var(--white-color);
    z-index: 999;

    transform: translateX(100%);
    transition: transform var(--trans-descrp);
}

.menu-container.is-open {
    transform: translateX(0);
}

.mobile-link-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mobile-menu {
    padding: 0;
    margin: 0;
    list-style: none;
}

.menu-toggle {
    margin-right: 15px;
}

.mobile-item {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    margin-bottom: 40px;
}

.mobile-text {
    font-weight: 500;
    font-style: normal;
}

.mobile-contacts {
    margin-bottom: 48px;
    font-style: normal;
}

.mobile-socials {
    display: flex;
    justify-content: flex-start;
    gap: 56px;
    margin-bottom: 40px;
    flex-wrap: wrap;
}

.menu-link,
.contact-link {
    transition: color var(--trans-descrp);
}

.menu-link:hover,
.menu-link:focus,
.contact-link:hover,
.contact-link:focus {
    color: var(--accent-color);
}


